<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./layout/header.ejs %>
        <script type="text/javascript" src="/js/contactList.js"></script>
</head>

<body>
    <div class="container">
        <div class="dashboard">
            <div class="dashboardHeader">
                <div class="date">
                    <span id="dashboardDate"></span>
                </div>
                <div class="tools">
                    <!-- <button id="refresh" type="button" class="button mini dark">
                        Refesh
                    </button> -->
                </div>
            </div>
            <div class="dashboardBody">
                <!-- columnWrap -->
                <div class="columnWrap">
                    <div class="column favoriteUserDiv">
                        <!-- columnHeader -->
                        <div class="columnHeader">
                            <div class="title">

                            </div>
                        </div>
                        <!-- columnBody -->
                        <div class="columnBody">
                            <!-- tableWrap -->
                            <div class="dashboardTable columnTable">
                                <!-- tableBody -->
                                <div id="favoriteUserListDiv" class="tableWrap tableBody noData" data-nodata="No My Favorite User">
                                    <table style="display:none;">
                                        <tbody id="favoriteUserList">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tools">
                                    <button id="makeACallBtn" type="button" class="button mini dark" style="width:200px; float: right; margin-top: 5px;">
                                        make a call
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="favoriteUserDiv">
                        <br>
                    </div>

                    <div class="favoriteUserDiv">
                        <!-- form -->
                        <dl>
                            <dd class="inputBox">
                                <input type="text" id="searchUserinfo" maxlength="30" placeholder="Enter the user information to search for">
                            </dd>
                        </dl>
                        <br />
                        <!-- buttonWrap -->
                        <div class="buttonWrap">
                            <button id="searchUserBtn" type="button" class="button dark mini fw"
                                style="width:200px; float: right;">
                                Search User
                            </button>
                        </div>
                        <br />
                    </div>

                    <div class="favoriteUserDiv">
                        <br>
                    </div>
                    
                    <div class="column searchUserDiv">
                        <!-- columnHeader -->
                        <div class="columnHeader">
                            <div class="title">

                            </div>
                        </div>
                        <!-- columnBody -->
                        <div class="columnBody">
                            <!-- tableWrap -->
                            <div class="dashboardTable columnTable">
                                <!-- tableBody -->
                                <div id="searchUserListDiv" class="tableWrap tableBody noData" data-nodata="No searched User">
                                    <table style="display:none;">
                                        <tbody id="searchUserList">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="searchUserDiv">
                        <br>
                    </div>

                    <div class="searchUserDiv">
                        <!-- form -->
                        <dl>
                            <dd class="inputBox">
                                <input type="text" id="nickname" maxlength="30" placeholder="Enter the user nickname (Option)">
                            </dd>
                        </dl>
                        <br />
                        <!-- buttonWrap -->
                        <div class="buttonWrap">
                            <button id="AddFavoriteUserBtn" type="button" class="button dark fw">
                                Add as Favorite User
                            </button>
                            <div>
                                <br>
                            </div>
                            <button id="cancelBtn" type="button" class="button dark fw">
                                CANCEL
                            </button>
                        </div>
                        <br />
                    </div>
                    
                    <div class="column reservationUserDiv" style="height:300px">
                        <!-- columnHeader -->
                        <div class="columnHeader">
                            <div class="title">

                            </div>
                        </div>
                        <div class="columnBody">
                            <div class="dashboardTable columnTable">
                                <!-- tableBody -->
                                <div id="reservationListDiv" class="tableWrap tableBody" data-nodata="No Reservation List">
                                    <table style="display:none;">
                                        <tbody id="reservationList">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>