<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./layout/header.ejs %>
</head>

<body>
    <div class="wrap">
        <!-- container -->
        <div class="container loginWrap">
            <div class="loginBox">
                <!-- form -->
                <dl>
                    <dt class="transparent">
                        E-mail
                    </dt>
                    <dd class="inputBox">
                        <input type="email" id="email" maxlength="30" placeholder="E-mail">
                    </dd>
                </dl>
                <dl>
                    <dt class="transparent">
                        Name
                    </dt>
                    <dd class="inputBox">
                        <input type="text" id="name_first" maxlength="30" placeholder="First Name">
                    </dd>
                    <dd class="inputBox">
                        <input type="text" id="name_last" maxlength="30" placeholder="Last Name">
                    </dd>
                </dl>
                <dl>
                    <dt class="transparent">
                        Password
                    </dt>
                    <dd class="inputBox">
                        <input type="password" id="pw_new" maxlength="30" placeholder="New Password">
                    </dd>
                    <dd class="inputBox">
                        <input type="password" id="pw_check" maxlength="30" placeholder="Check New Password">
                    </dd>
                </dl>
                <p class="required">
                    <span id="failMsg" style="display:none;">

                    </span>
                </p>
                <dl>
                    <dt class="">
                        What's the name of the last book you read?
                    </dt>
                    <dd class="inputBox">
                        <input type="text" id="answer1" maxlength="30" placeholder="My Password Question 1 - Answer">
                    </dd>
                    <dt class="">
                        What's your favorite color?
                    </dt>
                    <dd class="inputBox">
                        <input type="text" id="answer2" maxlength="30" placeholder="My Password Question 2 - Answer">
                    </dd>
                    <dt class="">
                        What's your favorite travel destination?
                    </dt>
                    <dd class="inputBox">
                        <input type="text" id="answer3" maxlength="30" placeholder="My Password Question 3 - Answer">
                    </dd>
                </dl>

                <!-- buttonWrap -->
                <div class="buttonWrap">
                    <button id="changeBtn" type="button" class="button dark fw">
                        JOIN
                    </button>
                </div>

                <div class="buttonWrap">
                    <button id="cancelBtn" type="button" class="button dark fw">
                        CANCEL
                    </button>
                </div>

            </div>
        </div>
    </div>

    <script>
        $("#changeBtn").unbind().bind("click", function () {
            var email = $("#email").val();
            var nameFirst = $("#name_first").val();
            var nameLast = $("#name_last").val();
            var pwNew = hex_sha512($('#pw_new').val()).toString();
            var pwCheck = hex_sha512($('#pw_check').val()).toString();
            var answer1 = $('#answer1').val();
            var answer2 = $('#answer2').val();
            var answer3 = $('#answer3').val();
            if (email == '' || nameFirst == '' || nameLast == '' || pwNew == '' || pwCheck == '' || answer1 == '' || answer2 == '' || answer3 == '') {
                alert("There are no values entered. Check again.");
                return;
            } else if (pwNew != pwCheck) {
                alert("The New password and the Confirm password are different. Check again.");
                return;
            }

            var data = {};
            data.email = email;
            data.pwd = pwNew;
            data.firstname = nameFirst;
            data.lastname = nameLast;
            data.ip = location.hostname;
            data.question1 = answer1;
            data.question2 = answer2;
            data.question3 = answer3;
            data.contact_id = email;

            $.ajax({
                type: "POST",
                url: SERVER_IP + "api/register",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                async: false,
                crossDomain: true,
                dataType: "json",
                error: function (data) {
                    console.log('ajax fail.. :' + JSON.stringify(data));
                    alert("Fail to join");
                },
                success: function (data) {
                    console.log("ajax success.. : " + JSON.stringify(data));
                    alert("Success to join");
                    location.replace("http://" + location.hostname + ":3000/login");
                }
            });
        });

        $("#cancelBtn").unbind().bind("click", function () {
            location.replace("http://" + location.hostname + ":3000/login");
        });
        
    </script>
</body>

</html>