<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./layout/header.ejs %>
</head>

<body>
    <div class="wrap">
        <!-- container -->
        <div class="container loginWrap">
            <div class="loginBox">
                <!-- form -->
                <dl>
                    <dt class="transparent">
                        Email
                    </dt>
                    <dd class="inputBox">
                        <input type="text" id="email" maxlength="30" placeholder="email">
                    </dd>
                </dl>
                <dl>
                    <dt class="transparent">
                        Password
                    </dt>
                    <dd class="inputBox">
                        <input type="password" id="pw" maxlength="20" placeholder="password">
                    </dd>
                </dl>
                <p class="required">
                    <span id="failMsg" style="display:none;">

                    </span>
                </p>

                <!-- buttonWrap -->
                <div class="buttonWrap">
                    <button id="loginBtn" type="button" class="button dark fw">
                        LOGIN
                    </button>
                </div>

                <a id="forgotBtn" href="#">
                    Forgot your Password?
                </a>
            </div>
        </div>
    </div>

    <script>
        $("#loginBtn").unbind().bind("click", function () {
            var email = $("#email").val()
            var pw = $("#pw").val()
            if (email == '' || pw == '') {
                alert("There are no values entered. Check again.");
                // return;
            }
            var data = {};
            data.username = "1234";
            data.password = "5678";

            // var dataDump = 'username=1234&password=5678';
            // $.ajax({
            //     type: "POST",
            //     url: "http://192.168.2.8:8000/api/login",
            //     data: data,
            //     contentType: "application/json; charset=utf-8",
            //     error: function () {
            //         console.log('통신실패!!');
            //     },
            //     success: function (data) {
            //         console.log("통신데이터 값 : " + data);
            //     }
            // });

            $.ajax({
                type: "POST",
                url: "http://192.168.2.4:8000/api/login",
                data: data,
                contentType: "application/json; charset=utf-8",
                async: false,
                crossDomain: true,
                dataType: "json",
                error: function (data) {
                    console.log('통신실패.. :' + data);
                },
                success: function (data) {
                    console.log("통신데이터 값 : " + data);
                }
            });
        });

        function loginResponse(){
            console.log("loginResponse")
        }

    </script>
</body>

</html>