<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./layout/header.ejs %>
</head>

<body>
    <div class="wrap">
        <!-- container -->
        <div class="container loginWrap">
            <div class="loginBox">
                <!-- form -->
                <dl>
                    <dt class="transparent">
                        Email
                    </dt>
                    <dd class="inputBox">
                        <input type="text" id="email" maxlength="30" placeholder="email">
                    </dd>
                </dl>
                <dl>
                    <dt class="transparent">
                        Password
                    </dt>
                    <dd class="inputBox">
                        <input type="password" id="pw" maxlength="20" placeholder="password">
                    </dd>
                </dl>
                <p class="required">
                    <span id="failMsg" style="display:none;">

                    </span>
                </p>

                <!-- buttonWrap -->
                <div class="buttonWrap">
                    <button id="loginBtn" type="button" class="button dark fw">
                        LOGIN
                    </button>
                </div>
                <div class="buttonWrap">
                    <button id="joinBtn" type="button" class="button dark fw">
                        JOIN
                    </button>
                </div>

                <a id="forgotBtn" href="#">
                    Forgot your Password?
                </a>
            </div>
        </div>
    </div>

    <script>
        $("#loginBtn").unbind().bind("click", function () {
            var email = $("#email").val();
            var pw = $('#pw').val();
            if (email == '' || pw == '') {
                alert("There are no values entered. Check again.");
                return;
            }

            var data = {};
            data.username = email;
            data.password = hex_sha512(pw);

            $.ajax({
                type: "POST",
                url: SERVER_IP + "api/login",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                async: false,
                crossDomain: true,
                dataType: "json",
                error: function (data) {
                    console.log('ajax fail.. :' + JSON.stringify(data));
                    alert("Fail to login");
                },
                success: function (data) {
                    console.log("ajax success.. : " + JSON.stringify(data));

                    if (data.result != 'ok') {
                        alert("Fail to login from server");
                    } else {
                        var jsonObj = {
                            action: "login_complete",
                            email: email,
                            uuid: data.contents.response
                        }
                        console.log(jsonObj)
                        window.chrome.webview.postMessage(JSON.stringify(jsonObj))
                    }
                }
            });
        });

        $("#joinBtn").unbind().bind("click", function () {
            location.replace("http://" + location.hostname + ":3000/join");
        });

        $("#forgotBtn").unbind().bind("click", function () {
            location.replace("http://" + location.hostname + ":3000/resetPassword");
        });

    </script>
</body>

</html>