<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./layout/header.ejs %>
</head>

<body>
    <div class="wrap">
        <!-- container -->
        <div class="container loginWrap">
            <div class="loginBox">
                <!-- form -->
                <dl>
                    <dt class="transparent">
                        Email
                    </dt>
                    <dd class="inputBox">
                        <input type="text" id="email" maxlength="30" placeholder="Email">
                    </dd>
                </dl>
                <p class="required">
                    <span id="failMsg" style="display:none;">

                    </span>
                </p>
                <dl>
                    <dt class="">
                        My Password Question
                    </dt>
                    <dd class="inputBox">
                        <input type="text" id="answer1" maxlength="30" placeholder="What's the name of the last book you read?">
                    </dd>
                    <dd class="inputBox">
                        <input type="text" id="answer2" maxlength="30" placeholder="What's your favorite color?">
                    </dd>
                    <dd class="inputBox">
                        <input type="text" id="answer3" maxlength="30" placeholder="What's your favorite travel destination?">
                    </dd>
                </dl>

                <!-- buttonWrap -->
                <div class="buttonWrap">
                    <button id="change" type="button" class="button dark fw">
                        CHANGE PASSWORD
                    </button>
                </div>

                <div class="buttonWrap">
                    <button id="cancel" type="button" class="button dark fw">
                        CANCEL
                    </button>
                </div>

            </div>
        </div>
    </div>
</body>

</html>