<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./layout/header.ejs %>
</head>

<body>
    <div class="wrap">
        <!-- container -->
        <div class="container loginWrap">
            <div class="loginBox">
                <!-- form -->
                <dl>
                    <dt class="transparent">
                        Email
                    </dt>
                    <dd class="inputBox">
                        <input type="text" id="email" maxlength="30" placeholder="Email">
                    </dd>
                </dl>
                <p class="required">
                    <span id="failMsg" style="display:none;">

                    </span>
                </p>
                <dl>
                    <dt class="">
                        My Password Question
                    </dt>
                    <dd class="inputBox">
                        <input type="text" id="answer1" maxlength="30"
                            placeholder="What's the name of the last book you read?">
                    </dd>
                    <dd class="inputBox">
                        <input type="text" id="answer2" maxlength="30" placeholder="What's your favorite color?">
                    </dd>
                    <dd class="inputBox">
                        <input type="text" id="answer3" maxlength="30"
                            placeholder="What's your favorite travel destination?">
                    </dd>
                </dl>

                <!-- buttonWrap -->
                <div class="buttonWrap">
                    <button id="changeBtn" type="button" class="button dark fw">
                        CHANGE PASSWORD
                    </button>
                </div>

                <div class="buttonWrap">
                    <button id="cancelBtn" type="button" class="button dark fw">
                        CANCEL
                    </button>
                </div>

            </div>
        </div>
    </div>

    <script>
        $("#changeBtn").unbind().bind("click", function () {
            var email = $("#email").val();
            var answer1 = $('#answer1').val();
            var answer2 = $('#answer2').val();
            var answer3 = $('#answer3').val();
            if (email == '' || answer1 == '' || answer2 == '' || answer3 == '') {
                alert("There are no values entered. Check again.");
                return;
            }

            var data = {};
            data.email = email;
            data.question1 = answer1;
            data.question2 = answer2;
            data.question3 = answer3;

            $.ajax({
                type: "PUT",
                url: SERVER_IP + "api/reset",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                async: false,
                crossDomain: true,
                dataType: "json",
                error: function (data) {
                    console.log('ajax fail.. :' + JSON.stringify(data));
                    alert("Fail to reset password");
                },
                success: function (data) {
                    console.log("ajax success.. : " + JSON.stringify(data));

                    var uuid = data.contents.response;
                    location.replace("http://" + location.hostname + ":3000/changePassword?" + uuid);
                }
            });
        });

        $("#cancelBtn").unbind().bind("click", function () {
            location.replace("http://" + location.hostname + ":3000/login");
        });

    </script>
</body>

</html>