<title>
    Team4 Communication System
</title>

<meta charset="utf-8">
<meta name="referrer" content="no-referrer-when-downgrade" />

<link rel="stylesheet" type="text/css" href="/css/ui.css">
<link rel="stylesheet" type="text/css" href="/css/layout.css">

<script type="text/javascript" src="/plugin/jquery/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/plugin/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="/plugin/lodash/lodash.js"></script>
<script type="text/javascript" src="/plugin/sha512/sha512.min.js"></script>

<script>
    var SERVER_IP = "http://192.168.2.4:8000/";
    console.log("front webserver start");
</script>